:root{--animation-time: 0.2s;}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*background-color: black;*/
    background-image: url('/img/background.jpg');
}

.spaceship {
    position: absolute;
    bottom: 0px;
    left: 50%;
    
    width: 96px;
    height: 96px;
    background-image: url('/img/spaceship.png');
    animation: spaceship-animate var(--animation-time) steps(8) infinite;
}

@keyframes spaceship-animate {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 768px;
    }
}

.falcon {
    position: absolute;
    top: 0;
    left: 0;

    width: 64px;
    height: 64px;
    background-image: url('/img/falcon.png');
    animation: falcon-animate var(--animation-time) steps(5) infinite;

}

@keyframes falcon-animate {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: 320px;
    }
}

.hawk {
    position: absolute;
    top: 0px;
    left:70%;

    width: 96px;
    height: 96px;
    background-image: url('img/hawk.png');
    animation: hawk-animate var(--animation-time) steps(7) infinite;
}   

@keyframes hawk-animate {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 672px;
    }
}

.destroyer {
    position: absolute;
    top: 0px;
    left: 30%;
    
    width: 128px;
    height: 128px;
    background-image: url('/img/destroyer.png');
    animation: destroyer-animate var(--animation-time) steps(9) infinite;
}

@keyframes destroyer-animate {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: 1152px;
    }
}


.missile {
    position: absolute;
    bottom: 50px;
    left: 70%;
    
    width: 40px;
    height: 40px;
    background-image: url('/img/missile-paint.png');
    animation: missile-animate var(--animation-time) steps(2) infinite;
}


@keyframes missile-animate {
    from {
        background-position-x: 0px;  
    }
    to {
        background-position-x: 80px;
    }
}


.missile-rocket {
    position: absolute;
    bottom: 50px;
    left: 30%;
    
    width: 80px;
    height: 80px;
    background-image: url('/img/missile-rocket-80.png');
    animation: missile-rocket-animate var(--animation-time) steps(5) infinite;
}


@keyframes missile-rocket-animate {
    from {
        background-position-x: 0px;  
    }
    to {
        background-position-x: 400px;
    }
}



.spaceship-explosion {
    position: absolute;
    bottom: 200px;
    left: 50%;
    
    width: 96px;
    height: 96px;
    background-image: url('/img/spaceship-explosion.png');
    animation: spaceship-explosion-animate var(--animation-time) steps(8) infinite;
}

@keyframes spaceship-explosion-animate {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 768px;
    }
}

.falcon-explosion {
    position: absolute;
    top: 200px;
    left: 0;

    width: 64px;
    height: 64px;
    background-image: url('/img/falcon-explosion.png');
    animation: falcon-explosion-animate var(--animation-time) steps(5) infinite;

}

@keyframes falcon-explosion-animate {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: 320px;
    }
}

.hawk-explosion {
    position: absolute;
    top: 200px;
    left:70%;

    width: 96px;
    height: 96px;
    background-image: url('img/hawk-explosion.png');
    animation: hawk-explosion-animate var(--animation-time) steps(7) infinite;
}   

@keyframes hawk-explosion-animate {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 672px;
    }
}

.destroyer-explosion {
    position: absolute;
    top: 200px;
    left: 30%;
    
    width: 128px;
    height: 128px;
    background-image: url('/img/destroyer-explosion.png');
    animation: destroyer-explosion-animate var(--animation-time) steps(9) infinite;
}

@keyframes destroyer-explosion-animate {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: 1152px;
    }
}


.missile-explosion {
    position: absolute;
    bottom: 250px;
    left: 70%;
    
    width: 40px;
    height: 40px;
    background-image: url('/img/missile-paint-explosion.png');
    animation: missile-explosion-animate var(--animation-time) steps(2) infinite;
}


@keyframes missile-explosion-animate {
    from {
        background-position-x: 0px;  
    }
    to {
        background-position-x: 80px;
    }
}


.missile-rocket-explosion {
    position: absolute;
    bottom: 250px;
    left: 30%;
    
    width: 80px;
    height: 80px;
    background-image: url('/img/missile-rocket-80-explosion.png');
    animation: missile-rocket-explosion-animate var(--animation-time) steps(5) infinite;
}


@keyframes missile-rocket-explosion-animate {
    from {
        background-position-x: 0px;  
    }
    to {
        background-position-x: 400px;
    }
}