:root{--animation-time: 0.2s;}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*background-color: black;*/
    background-image: url('/img/background.jpg');
}

.spaceship {
    position: absolute;
    bottom: 0px;
    left: 50%;
    
    width: 96px;
    height: 96px;
    background-image: url('/img/spaceship.png');
    animation: spaceship-animate var(--animation-time) steps(8) infinite;
}

@keyframes spaceship-animate {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 768px;
    }
}

.falcon {
    position: absolute;
    top: 0;
    left: 0;

    width: 64px;
    height: 64px;
    background-image: url('/img/falcon.png');
    animation: falcon-animate var(--animation-time) steps(5) infinite;

}

@keyframes falcon-animate {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: 320px;
    }
}

.hawk {
    position: absolute;
    top: 0px;
    left:70%;

    width: 96px;
    height: 96px;
    background-image: url('img/hawk.png');
    animation: hawk-animate var(--animation-time) steps(7) infinite;
}   

@keyframes hawk-animate {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 672px;
    }
}

.destroyer {
    position: absolute;
    top: 0px;
    left: 30%;
    
    width: 128px;
    height: 128px;
    background-image: url('/img/destroyer.png');
    animation: destroyer-animate var(--animation-time) steps(9) infinite;
}

@keyframes destroyer-animate {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: 1152px;
    }
}